<div class="card">
    <h5>Empresa</h5>
    <div class="grid p-fluid">
        <div class="col-12 md:col-6">
            <div class="field mt-3">
                <label for="inputtext">Nome Completo</label>
                <input type="text" id="inputtext" [(ngModel)]="nome" pInputText class="ng-empresa ng-dirty">
            </div>
            <div class="field">
                <label for="autocomplete">CNPJ</label>
                <p-autoComplete inputId="autocomplete" [(ngModel)]="cnpj" [suggestions]="filteredCountries" (completeMethod)="searchCountry($event)" field="name" class="ng-empresa ng-dirty"></p-autoComplete>

            </div>
            <div class="field">
                <label for="inputtext">Nome Fantasia</label>
                <input type="text" id="inputtext"  [(ngModel)]="nomefantasia" pInputText class="ng-empresa ng-dirty">
            </div>
        </div>
        
        <div class="col-12 md:col-6">                    
            
            <div class="field">
                <label for="dropdown">Situação</label>
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="situacao" [(ngModel)]="idsituacao" optionLabel="name" class="ng-empresa ng-dirty"></p-dropdown>
            </div>
            
            <div class="field">
                <label for="textarea">Motivo Bloqueio</label>
                <textarea inputId="textarea" rows="3" cols="30" [(ngModel)]="motivobloqueio" pInputTextarea class="ng-empresa ng-dirty"></textarea>
            </div> 
        </div>
    </div>
    <p-button label="Salvar"[raised]="true" (click)="adicionar()" class="col-12 md:col-6" />
    <p-button label="Voltar" [raised]="true"/>
</div>

